{% extends 'events/base.html' %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-md-8">

        <h3 class="mb-4">
            {% if form.instance.pk %}
                Update Event
            {% else %}
                Create Event
            {% endif %}
        </h3>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit" class="btn btn-dark">
                {% if form.instance.pk %}
                    Update Event
                {% else %}
                    Create Event
                {% endif %}
            </button>

            <a href="/" class="btn btn-secondary ms-2">Cancel</a>
        </form>

    </div>
</div>

{% endblock %}
