{% extends 'events/base.html' %}
{% block content %}

<h3>Create Event</h3>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="mb-2">
        <label>Title</label>
        <input type="text" name="title" class="form-control" required>
    </div>

    <div class="mb-2">
        <label>Description</label>
        <textarea name="description" class="form-control"></textarea>
    </div>

    <div class="mb-2">
        <label>Event Date</label>
        <input type="date" name="date" class="form-control" required>
    </div>

    <div class="mb-2">
        <label>Event Time</label>
        <input type="time" name="time" class="form-control" required>
    </div>

    <div class="mb-2">
        <label>Venue</label>
        <input type="text" name="venue" class="form-control" required>
    </div>

    <div class="mb-2">
        <label>Registration Deadline</label>
        <input type="date" name="registration_deadline" class="form-control" required>
    </div>

    <div class="mb-2">
        <label>Max Participants</label>
        <input type="number" name="max_participants" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Event Banner</label>
        <input type="file" name="banner" class="form-control">
    </div>

    <button class="btn btn-dark">Create Event</button>
</form>

{% endblock %}
