{% extends 'events/base.html' %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
{% endif %}
{% if event.banner %}
<div style="
    background-image: url('{{ event.banner.url }}');
    background-size: cover;
    background-position: center;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
"></div>
{% endif %}
<h3>{{ event.title }}</h3>

<p><strong>Description:</strong> {{ event.description }}</p>
<p><strong>Date:</strong> {{ event.date }}</p>
<p><strong>Time:</strong> {{ event.time }}</p>
<p><strong>Venue:</strong> {{ event.venue }}</p>
<p><strong>Registration Deadline:</strong> {{ event.registration_deadline }}</p>
<p><strong>Seats:</strong> {{ total_participants }} / {{ event.max_participants }}</p>

{% if already_registered %}
    <button class="btn btn-secondary" disabled>Already Registered</button>
{% else %}
    <form method="post">
        {% csrf_token %}
        <button class="btn btn-success">Register for Event</button>
    </form>
{% endif %}

<a href="/" class="btn btn-outline-dark mt-3">Back</a>



{% endblock %}
